@font-face {
    font-family: 'Beograd';
    src: url('../assets/fonts/Beograd.ttf') format('truetype');
}

@font-face {
    font-family: 'LAKOSHEN';
    src: url('../assets/fonts/LAKOSHEN Trial.ttf') format('truetype');
}

@font-face {
    font-family: 'LovecraftsDiary';
    src: url('../assets/fonts/lovecrafts-diary.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SAIBA';
    src: url('../assets/fonts/SAIBA-45.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'SAIBA', sans-serif;
    overflow: hidden;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: #00ff00;
    animation: glitch 1s infinite;
    position: relative;
    z-index: 1;
}

.glitch {
    font-size: 3em;
    position: relative;
    color: #00ff00;
    animation: glitch 1s infinite;
    font-family: 'LovecraftsDiary', sans-serif;
}

.link {
    display: block;
    margin: 10px 0;
    color: #00ff00;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    position: relative;
    font-family: 'SAIBA', sans-serif;
}

    .link:hover {
        color: #ff00ff;
    }

.terminal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    color: #00ff00;
    font-family: 'LovecraftsDiary', sans-serif;
    font-size: 20px;
    width: 80%;
    height: 50%;
    overflow: hidden;
}
